<h1 class="title text-primary">Twittter</h1>


<div class="flex-box">
<div>
  <h3 class="text-primary sides-title">Top News</h3>
    <div class="news-card">
  <% @articles["articles"].each do |article| %>
    <p class="card-title"><%= article["title"] %></p>
  <% end %>
    </div>
</div>

<div>
<% if policy(Tweet).create? %>
  <div class="tweet-form">
      <%= render 'new',user:@user, tweet:@tweet %>
  </div>
<% end %>
<br>

<div id="tweets">
  <% @tweets.each do |tweet|  %>
  <div id="tweet-<%= tweet.id %>" class="card">
    <p class="photo"><%= cl_image_tag tweet.user.photo, height: 50, width: 50, crop: :fill %></p>
    <h4 class = "username"><%= link_to tweet.user.username, user_path(tweet.user) %></h4>
    <p class="tweet-content"><%= tweet.content %></p>
    <p class="date"><%= tweet.created_at.strftime("%B %d %Y, %l:%M%P") %></p>
    <%= render 'icons', tweet: tweet %>
    <% if policy(tweet).edit? %>

      <p class="edit"> <%= link_to "Edit", edit_tweet_path(tweet) %></p>
    <% end %>
    <% if policy(tweet).destroy? %>
      <p class="destroy"><%= link_to "Delete",  tweet_path(tweet),method: :delete, data: { confirm: "Are you sure?" }, class: "delete btn btn-primary"%> </p>
    <% end %>
  </div>
 <% end %>
</div>



<div class="pages">
  <%= will_paginate @tweets,renderer: BootstrapPagination::Rails %>
</div>
</div>

<div>
  <h3 class="text-primary sides-title">Explore</h3>
  <% @users.each do |user| %>
  <div class="user_card">
     <p class="users_username text-primary"><%= user.username %></p>
     <%=  cl_image_tag user.photo, height: 60, width: 60, crop: :fill, class: "users_photo" %>
     <%= link_to "Check'em out!", user_path(user), class: "user_button" %>

  </div>

    <% end %>
</div>
</div>

































