<h1 class="title text-primary">Home</h1>


<div class="tweet-form">
  <%# if user_signed_in? %>
    <%= render 'new',user:@user, tweet:@tweet %>
  <%# end %>
</div>
   <br>



<div id="tweets">
  <% @tweets.each do |tweet|  %>
  <div class="card">

    <h4 class = "username"><%= link_to tweet.user.username, user_path(tweet.user) %></h4>
    <p class="tweet-content"><%= tweet.content %></p>
    <p class="date"><%= tweet.created_at.strftime("%B %d %Y, %l:%M%P") %></p>
    <div class="icons">
      <%= link_to like_tweet_path(tweet),  method: :put do %>
      <div class="upvote"><i class="fas fa-thumbs-up"></i> <%= tweet.get_upvotes.count %></div>
      <% end %>
      <%= link_to dislike_tweet_path(tweet), method: :put do %>
      <div><i class="fas fa-thumbs-down"></i> <%= tweet.get_downvotes.count %></div>
      <% end %>
    </div>
  </div>
 <% end %>
</div>



<div class="pages">
  <%= will_paginate @tweets,renderer: BootstrapPagination::Rails %>
</div>

