<h1 class="title text-primary">Home</h1>


<div class="tweet-form">
  <%# if user_signed_in? %>
    <%= render 'new',user:@user, tweet:@tweet %>
  <%# end %>
</div>
   <br>



<div id="tweets">
  <% @tweets.each do |tweet|  %>
  <div id="tweet-<%= tweet.id %>" class="card">

    <h4 class = "username"><%= link_to tweet.user.username, user_path(tweet.user) %></h4>
    <p class="tweet-content"><%= tweet.content %></p>
    <p class="date"><%= tweet.created_at.strftime("%B %d %Y, %l:%M%P") %></p>
    <%= render 'icons', tweet: tweet %>
  </div>
 <% end %>
</div>



<div class="pages">
  <%= will_paginate @tweets,renderer: BootstrapPagination::Rails %>
</div>

