<h1 class="title text-primary">Home</h1>


<div class="tweet-form">
  <% if user_signed_in? %>
    <%= simple_form_for [ @user ,@tweet], id: "form-submit" do |f| %>
       <%= f.input :content, label: "Tweet" %>
       <%= f.button :submit, class: "btn btn-primary" %>
       <% end %>
  <% end %>
</div>
   <br>

<% @tweets.each do |tweet|  %>
  <div class="card">
    <div class="card-description">
      <h4><%= link_to tweet.user.username, user_path(tweet.user) %></h4>
      <p class="tweet-content"><%= tweet.content %></p>
      <p><%= tweet.created_at.strftime("%B %d %Y, %l:%M%P") %></p>
      <%= link_to like_tweet_path(tweet), method: :put do %>
      <p>Upvote <%= tweet.get_upvotes.size %>
      <% end %>
      <%= link_to dislike_tweet_path(tweet), method: :put do %>
      Downvote <%= tweet.get_downvotes.size %></p>
      <% end %>
    </div>
  </div>
<% end %>
<div class="pages">
  <%= will_paginate @tweets,renderer: BootstrapPagination::Rails %>
</div>

