<h1>Profile of <%= @user.username  %> </h1>



<% @tweets.each do |tweet| %>
<ul>
  <li>
<%= @user.username %>
<p><%= tweet.content %></p>

<p><%= tweet.created_at.strftime("%B %d %Y, %l:%M%P") %></p>
<p>Upvotes <%= tweet.get_upvotes.size %> | Downvotes <%= tweet.get_downvotes.size %></p>



  </li>
</ul>
<% end %>
